In [1]:
from vnstock3 import Vnstock

## 1. Các hàm lấy thông tin về dữ liệu chứng khoán

### 1.1. Lấy danh sách các công ty niêm yết

In [2]:
# Khởi tạo đối tượng Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

2024-08-17 16:46:34,048 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [3]:
# Lấy danh sách tất cả cổ phiếu niêm yết
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

### 1.2. Lấy các mã chứng khoán theo phân loại cụ thể (theo sàn, theo nhóm đối tượng)

In [4]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
stock.listing.symbols_by_group('HOSE') # VD : Những mã cổ phiếu đã được niêm yết trên sàn HOSE

0      AAA
1      AAM
2      AAT
3      ABR
4      ABS
      ...
411    VTB
412    VTO
413    VTP
414    YBM
415    YEG
Name: symbol, Length: 416, dtype: object

### 1.3. Dữ liệu lịch sử về giá chứng khoán theo ngày, giờ, phút

In [6]:
# Khởi tạo đối tượng Vnstock
stock = Vnstock().stock(symbol='VIC', source='VCI')

# Lấy dữ liệu giá cổ phiếu theo ngày
price_data = stock.quote.history(start='2021-1-10', end='2024-8-27', interval='1D', count_back=4)
price_data['symbol'] = 'VIC'
price_data

2024-08-26 13:42:28,471 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

                   time   open   high    low  close   volume symbol
900 2024-08-21 07:00:00  41.60  42.00  41.50  41.85  1664500    VIC
901 2024-08-22 07:00:00  41.85  42.35  41.55  41.55  2379500    VIC
902 2024-08-23 07:00:00  41.60  42.00  41.50  41.55  1748500    VIC
903 2024-08-26 07:00:00  41.65  42.35  41.65  42.15  1900100    VIC

In [5]:
from datetime import datetime, timedelta

stock = Vnstock().stock(symbol='VIC', source='VCI')

end_date = datetime.today()
start_date = end_date - timedelta(days=30)

start_date_str = start_date.strftime('%Y-%m-%d')
end_date_str = end_date.strftime('%Y-%m-%d')
print(end_date_str)
# Lấy dữ liệu giá cổ phiếu theo giờ 
price_data = stock.quote.history(start='2024-1-10', end='2024-8-27', interval='1H') # 1 tháng trở lại đây

price_data['symbol'] = 'VIC'
price_data

2024-08-26 13:42:12,809 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

2024-08-26

                   time   open   high    low  close   volume symbol
0   2024-01-10 10:00:00  43.90  44.00  43.80  43.80   858900    VIC
1   2024-01-10 11:00:00  43.80  43.85  43.70  43.75   177400    VIC
2   2024-01-10 13:00:00  43.75  43.80  43.40  43.45   673000    VIC
3   2024-01-10 14:00:00  43.45  43.60  43.20  43.60   966400    VIC
4   2024-01-11 10:00:00  43.70  44.00  43.60  44.00   783500    VIC
..                  ...    ...    ...    ...    ...      ...    ...
615 2024-08-23 13:00:00  41.65  41.85  41.55  41.60   607100    VIC
616 2024-08-23 14:00:00  41.60  41.90  41.50  41.55   586000    VIC
617 2024-08-26 10:00:00  42.10  42.25  41.95  42.25  1184500    VIC
618 2024-08-26 11:00:00  42.25  42.30  42.10  42.10   151900    VIC
619 2024-08-26 13:00:00  42.10  42.35  42.05  42.20   562600    VIC

[620 rows x 7 columns]

In [11]:
from datetime import datetime, timedelta

stock = Vnstock().stock(symbol='ACB', source='VCI')

end_date = datetime.today()
start_date = end_date - timedelta(days=7)

start_date_str = start_date.strftime('%Y-%m-%d')
end_date_str = end_date.strftime('%Y-%m-%d')

# Lấy dữ liệu giá cổ phiếu theo phút 
price_data = stock.quote.history(start=start_date_str, end='2024-8-24', interval='1m') # 7 ngày gần đây

price_data

2024-08-23 09:53:16,596 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

                    time   open   high    low  close  volume
0    2024-08-16 09:15:00  23.50  23.50  23.50  23.50   15600
1    2024-08-16 09:16:00  23.50  23.55  23.50  23.55   20100
2    2024-08-16 09:17:00  23.55  23.60  23.55  23.60    1700
3    2024-08-16 09:18:00  23.60  23.60  23.55  23.55    3400
4    2024-08-16 09:19:00  23.55  23.60  23.55  23.60    9000
...                  ...    ...    ...    ...    ...     ...
1116 2024-08-23 09:47:00  24.35  24.40  24.35  24.35     800
1117 2024-08-23 09:48:00  24.35  24.40  24.35  24.40    4500
1118 2024-08-23 09:51:00  24.40  24.40  24.40  24.40     600
1119 2024-08-23 09:52:00  24.40  24.40  24.40  24.40     400
1120 2024-08-23 09:53:00  24.40  24.40  24.40  24.40     100

[1121 rows x 6 columns]

### 1.4. Dữ liệu khớp giá giao dịch

In [31]:
# Dữ liệu khớp lệnh hiện tại (Ngoài giờ giao dịch thì sẽ lấy ngày hôm trước)

stock.quote.intraday(symbol='ACB', show_log=False)

                  time    price  volume match_type         id
99 2024-08-22 10:10:48  24350.0    3500       Sell  233839698
98 2024-08-22 10:10:50  24350.0   10000       Sell  233839744
97 2024-08-22 10:10:58  24350.0     600       Sell  233839943
96 2024-08-22 10:11:00  24400.0     500        Buy  233839992
95 2024-08-22 10:12:03  24400.0    1000        Buy  233841308
..                 ...      ...     ...        ...        ...
4  2024-08-22 10:22:45  24400.0    1800       Sell  233856174
3  2024-08-22 10:22:55  24400.0   10000       Sell  233856365
2  2024-08-22 10:22:58  24400.0     500       Sell  233856402
1  2024-08-22 10:23:17  24400.0     100       Sell  233856817
0  2024-08-22 10:23:38  24450.0     200        Buy  233857158

[100 rows x 5 columns]

### 1.5. Dữ liệu bước giá và khối lượng giao dịch của bước giá realtime

In [11]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  24300      78000          78000               0                    0
1  24250     425700         155000          270700                    0
2  24200     426900         340000           86900                    0
3  24150    1032200         437200          595000                    0
4  24100    1757700         952400          482600               322700
5  24050    1368500         577100          758800                32600
6  24000     324000          21300          302700                    0

## 2. Dữ liệu về thông tin các công ty

In [1]:
# Thông tin công ty 
from vnstock3 import Vnstock

company = Vnstock().stock(symbol='ACB', source='TCBS').company

In [2]:
# Tông quan công ty 
company.overview().T

                                        0
exchange                             HOSE
industry                        Ngân hàng
company_type                           NH
no_shareholders                     60034
foreign_percent                       0.3
outstanding_share                  4466.7
issue_share                        4466.7
established_year                     2006
no_employees                        13110
stock_rating                          3.1
delta_in_week                      -0.008
delta_in_month                     -0.037
delta_in_year                       0.231
short_name                            ACB
website            https://www.acb.com.vn
industry_id                           289
industry_id_v2                       8355

In [8]:
# Hồ sơ công ty

company.profile()

,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,Ngân hàng Thương mại Cổ phần Á Châu,Ngân hàng Thương mại Cổ phần Á Châu (ACB) đượ...,Ngày 24/04/1993: Ngân hàng Thương mại Cổ phầ...,Chuyển đổi số trong lĩnh vực tài chính - ngân...,Bất ổn vĩ mô: Kinh tế Việt Nam được đánh giá...,Huy động vốn (nhận tiền gửi của khách hàng) ...,Áp dụng công nghệ tiên tiến hiện đại trong c...

In [4]:
# Giao dịch nội bộ 

company.insider_deals()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2024-07-02,None,Mua,6000000.0,24050.0,0.015
1,2024-04-04,None,Bán,-2000000.0,23142.0,0.054
2,2024-04-04,None,Bán,-30000.0,23142.0,0.054
3,2024-04-01,None,Bán,-48907186.0,23898.0,0.021
4,2024-03-26,None,Bán,-145000000.0,23478.0,0.039
5,2024-01-02,None,Bán,-57500.0,20538.0,0.188
6,2023-08-10,None,Mua,150000.0,19236.0,0.268
7,2023-08-10,None,Mua,587000.0,19236.0,0.268
8,2023-08-10,None,Bán,-120980000.0,19236.0,0.268
9,2023-04-18,None,Bán,0.0,17366.0,0.405
10,2023-04-03,None,Bán,-128800.0,17717.0,0.377
11,2023-03-10,None,Bán,0.0,17471.0,0.397
12,2023-02-22,None,Mua,200000.0,17436.0,0.399
13,2023-02-22,None,Mua,600000.0,17436.0,0.399
14,2023-02-22,None,Mua,1000000.0,17436.0,0.399
15,2023-02-22,None,Mua,2000000.0,17436.0,0.399
16,2023-02-06,None,Mua,1213138.0,17471.0,0.397
17,2023-01-13,None,Bán,-61000.0,16945.0,0.440
18,2022-11-30,None,Bán,-100000.0,15507.0,0.573
19,2022-10-26,None,Bán,-3915326.0,14489.0,0.684

In [17]:
# Tin tức về công ty

company = Vnstock().stock(symbol='VNM', source='TCBS').company
company.news()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,68.4,73.0,73800.0,-200.0,-0.003,0.115,11291012,Liên tục đăng ký mua cổ phiếu Vinamilk rồi “hủ...,TCBS,2024-08-15 12:44:00
1,65.8,58.0,73800.0,800.0,0.011,0.115,11288997,VNM: Báo cáo kết quả giao dịch cổ phiếu của t...,TCBS,2024-08-13 16:53:00
2,65.8,58.0,73800.0,800.0,0.011,0.115,11289001,VNM: Thông báo giao dịch cổ phiếu của tổ chức...,TCBS,2024-08-13 16:52:00
3,67.3,64.0,73000.0,-300.0,-0.004,0.101,11287646,VNM: Giải trình biến động kết quả kinh doanh ...,TCBS,2024-08-12 15:39:00
4,68.9,76.0,73800.0,1100.0,0.015,0.092,11283708,VNM: Giải trình chênh lệch KQKD Q2/2024 so vớ...,TCBS,2024-08-07 15:47:00
5,60.5,53.0,67700.0,500.0,0.007,0.026,11274472,Vinamilk (VNM) đạt doanh thu kỷ lục trong quý ...,TCBS,2024-07-30 20:53:00
6,60.5,53.0,67700.0,500.0,0.007,0.026,11273735,VNM: Báo cáo tình hình quản trị Công ty 06 th...,TCBS,2024-07-30 14:48:00
7,60.5,53.0,67700.0,500.0,0.007,0.026,11273597,VNM: F&N Dairy Investments PTE.LTD đăng ký mua...,TCBS,2024-07-30 14:12:00
8,60.5,53.0,67700.0,500.0,0.007,0.026,11273599,VNM: Báo cáo kết quả giao dịch cổ phiếu của t...,TCBS,2024-07-30 14:09:00
9,62.3,44.0,67500.0,-100.0,-0.001,0.004,11250595,VNM: Platinum Victory Pte Ltd mua bất thành gầ...,TCBS,2024-07-09 17:07:00
10,62.3,44.0,67500.0,-100.0,-0.001,0.004,11250599,VNM: Platinum Victory Pte Ltd đăng ký mua 20.8...,TCBS,2024-07-09 17:07:00
11,44.2,36.0,65200.0,-300.0,-0.005,-0.014,11228575,VNM: F&N Dairy Investments PTE.LTD đăng ký mua...,TCBS,2024-06-26 13:36:00
12,44.2,36.0,65200.0,-300.0,-0.005,-0.014,11228576,VNM: Báo cáo kết quả giao dịch cổ phiếu của t...,TCBS,2024-06-26 13:32:00
13,47.3,34.0,65500.0,-500.0,-0.008,-0.008,11226266,VNM: Thông báo thay đổi nhân sự Kế toán trưởng,TCBS,2024-06-24 16:18:00
14,47.3,34.0,NaN,NaN,NaN,NaN,11225577,Vinamilk lần đầu tiên thay Kế toán trưởng sau ...,TCBS,2024-06-23 08:20:00

### 3. Lưu dữ liệu vào file csv

**3.1 Dữ liệu lịch sử giá theo ngày trong 5 năm gần nhất**

In [ ]:
import pandas as pd
from vnstock3 import Vnstock

def fetch_and_save_data_per_year(start_year, end_year):
    # Khởi tạo đối tượng Vnstock
    stock_api = Vnstock()

    # Lấy danh sách mã cổ phiếu niêm yết trên sàn HOSE
    hose_symbols = stock_api.stock(symbol='A32', source='VCI').listing.symbols_by_group('HOSE')
    
    # Tạo danh sách mã cổ phiếu từ kết quả Series
    symbols = hose_symbols.tolist()

    # Lặp qua các năm để lấy và lưu dữ liệu
    for year in range(start_year, end_year + 1):
        print(f"Đang lấy dữ liệu cho năm {year}...")
        all_price_data = []
        
        for symbol in symbols:
            try:
                # Khởi tạo đối tượng Vnstock cho mã cổ phiếu hiện tại
                stock = Vnstock().stock(symbol=symbol, source='VCI')
                
                # Lấy dữ liệu giá cổ phiếu theo năm
                price_data = stock.quote.history(start=f'{year}-01-01', end=f'{year}-12-31', interval='1D')
                
                # Thêm mã cổ phiếu vào dữ liệu
                price_data['symbol'] = symbol
                
                # Thêm dữ liệu vào danh sách
                all_price_data.append(price_data)
                
                print(f"Đã lấy dữ liệu cho mã cổ phiếu: {symbol}")
            except Exception as e:
                print(f"Lỗi khi lấy dữ liệu cho mã cổ phiếu {symbol}: {e}")
        
        # Kết hợp tất cả dữ liệu vào một DataFrame
        if all_price_data:
            all_price_data_df = pd.concat(all_price_data, ignore_index=True)
            
            # Lưu dữ liệu vào file CSV theo năm
            all_price_data_df.to_csv(f'all_stock_data_{year}.csv', index=False)
            print(f"Dữ liệu đã được lưu vào file all_stock_data_{year}.csv")
        else:
            print(f"Không có dữ liệu cho năm {year}")

# Thực hiện việc lưu dữ liệu từ năm 2019 đến năm 2024
fetch_and_save_data_per_year(2021, 2024)

In [ ]:
import pandas as pd
from vnstock3 import Vnstock
from datetime import datetime, timedelta

def fetch_and_save_hourly_data_from_july():
    # Khởi tạo đối tượng Vnstock
    stock_api = Vnstock()

    # Lấy danh sách mã cổ phiếu niêm yết trên sàn HOSE
    hose_symbols = stock_api.stock(symbol='A32', source='VCI').listing.symbols_by_group('HOSE')
    
    # Tạo danh sách mã cổ phiếu từ kết quả Series
    symbols = hose_symbols.tolist()

    # Xác định năm và tháng hiện tại
    today = datetime.today()
    current_year = today.year
    current_month = today.month

    # Bắt đầu từ tháng 7 của năm hiện tại
    start_year = current_year
    start_month = 7

    # Lặp qua các tháng từ tháng 7 năm hiện tại đến tháng hiện tại
    for year in range(start_year, current_year + 1):
        for month in range(start_month if year == start_year else 1, current_month + 1 if year == current_year else 13):
            # Tính toán ngày bắt đầu và ngày kết thúc của tháng
            start_date_str = f'{year}-{month:02d}-01'
            if month == 12:
                end_date_str = f'{year+1}-01-01'
            else:
                end_date_str = f'{year}-{month+1:02d}-01'

            print(f"Đang lấy dữ liệu theo giờ cho tháng {month:02d}/{year}...")
            all_hourly_data = []

            for symbol in symbols:
                try:
                    # Khởi tạo đối tượng Vnstock cho mã cổ phiếu hiện tại
                    stock = Vnstock().stock(symbol=symbol, source='VCI')

                    # Lấy dữ liệu giá cổ phiếu theo giờ
                    hourly_data = stock.quote.history(start=start_date_str, end=end_date_str, interval='1H')

                    # Thêm mã cổ phiếu vào dữ liệu
                    hourly_data['symbol'] = symbol

                    # Thêm dữ liệu vào danh sách
                    all_hourly_data.append(hourly_data)

                    print(f"Đã lấy dữ liệu theo giờ cho mã cổ phiếu: {symbol}")
                except Exception as e:
                    print(f"Lỗi khi lấy dữ liệu theo giờ cho mã cổ phiếu {symbol}: {e}")

            # Kết hợp tất cả dữ liệu vào một DataFrame
            if all_hourly_data:
                all_hourly_data_df = pd.concat(all_hourly_data, ignore_index=True)

                # Lưu dữ liệu vào file CSV theo tháng
                all_hourly_data_df.to_csv(f'hourly_stock_data_{year}_{month:02d}.csv', index=False)
                print(f"Dữ liệu đã được lưu vào file hourly_stock_data_{year}_{month:02d}.csv")
            else:
                print(f"Không có dữ liệu cho tháng {month:02d}/{year}")

# Lưu dữ liệu theo giờ từ tháng 7 năm hiện tại đến tháng hiện tại
fetch_and_save_hourly_data_from_july()

In [ ]:
import pandas as pd
from vnstock3 import Vnstock
from datetime import datetime, timedelta

def fetch_and_save_minute_data(start_index, end_index, file_suffix):
    # Khởi tạo đối tượng Vnstock
    stock_api = Vnstock()

    # Lấy danh sách mã cổ phiếu niêm yết trên sàn HOSE
    hose_symbols = stock_api.stock(symbol='A32', source='VCI').listing.symbols_by_group('HOSE')
    
    # Tạo danh sách mã cổ phiếu từ kết quả Series
    symbols = hose_symbols.tolist()

    # Tính toán ngày bắt đầu và ngày kết thúc
    end_date = datetime.today()
    start_date = end_date - timedelta(days=7)
    start_date_str = start_date.strftime('%Y-%m-%d')
    end_date_str = end_date.strftime('%Y-%m-%d')

    # Lấy dữ liệu cho các mã chứng khoán từ start_index đến end_index
    all_minute_data = []
    for index in range(start_index, min(end_index, len(symbols))):
        symbol = symbols[index]
        try:
            # Khởi tạo đối tượng Vnstock cho mã cổ phiếu hiện tại
            stock = Vnstock().stock(symbol=symbol, source='VCI')
            
            # Lấy dữ liệu giá cổ phiếu theo phút
            minute_data = stock.quote.history(start=start_date_str, end=end_date_str, interval='1m')
            
            # Thêm mã cổ phiếu vào dữ liệu
            minute_data['symbol'] = symbol
            
            # Thêm dữ liệu vào danh sách
            all_minute_data.append(minute_data)
            
            print(f"Đã lấy dữ liệu theo phút cho mã cổ phiếu: {symbol}")
        except Exception as e:
            print(f"Lỗi khi lấy dữ liệu theo phút cho mã cổ phiếu {symbol}: {e}")

    # Kết hợp tất cả dữ liệu vào một DataFrame
    all_minute_data_df = pd.concat(all_minute_data, ignore_index=True)

    # Lưu dữ liệu vào file CSV
    all_minute_data_df.to_csv(f'minute_stock_data_part_{file_suffix}.csv', index=False)

    print(f"Dữ liệu đã được lưu vào file minute_stock_data_part_{file_suffix}.csv")

# Lưu dữ liệu theo phút của 100 mã chứng khoán đầu tiên trên sàn HOSE
fetch_and_save_minute_data(300, 450, 4)

In [ ]:
import pandas as pd
from vnstock3 import Vnstock
from datetime import datetime, timedelta

def fetch_and_save_hourly_data():
    # Khởi tạo đối tượng Vnstock
    stock_api = Vnstock()

    # Lấy danh sách mã cổ phiếu niêm yết trên sàn HOSE
    hose_symbols = stock_api.stock(symbol='A32', source='VCI').listing.symbols_by_group('HOSE')
    
    # Tạo danh sách mã cổ phiếu từ kết quả Series
    symbols = hose_symbols.tolist()

    # Tính toán ngày hiện tại và ngày bắt đầu
    end_date = datetime.today()
    start_date = datetime(2024, 7, 1)
    
    # Chuyển đổi ngày sang định dạng string
    start_date_str = start_date.strftime('%Y-%m-%d')
    end_date_str = end_date.strftime('%Y-%m-%d')

    # Lấy dữ liệu cho các mã chứng khoán
    all_hourly_data = []
    for symbol in symbols:
        try:
            # Khởi tạo đối tượng Vnstock cho mã cổ phiếu hiện tại
            stock = Vnstock().stock(symbol=symbol, source='VCI')
            
            # Lấy dữ liệu giá cổ phiếu theo giờ
            hourly_data = stock.quote.history(start=start_date_str, end=end_date_str, interval='1H')
            
            # Thêm mã cổ phiếu vào dữ liệu
            hourly_data['symbol'] = symbol
            
            # Thêm dữ liệu vào danh sách
            all_hourly_data.append(hourly_data)
            
            print(f"Đã lấy dữ liệu theo giờ cho mã cổ phiếu: {symbol}")
        except Exception as e:
            print(f"Lỗi khi lấy dữ liệu theo giờ cho mã cổ phiếu {symbol}: {e}")

    # Kết hợp tất cả dữ liệu vào một DataFrame
    all_hourly_data_df = pd.concat(all_hourly_data, ignore_index=True)

    # Lưu dữ liệu vào file CSV
    all_hourly_data_df.to_csv('hourly_stock_data_2024.csv', index=False)

    print("Dữ liệu đã được lưu vào file hourly_stock_data_2024.csv")

# Lưu dữ liệu theo giờ cho tất cả các mã chứng khoán trên sàn HOSE
fetch_and_save_hourly_data()

In [ ]:
import pandas as pd
from vnstock3 import Vnstock

def fetch_and_save_data(start_year, end_year):
    # Khởi tạo đối tượng Vnstock
    stock_api = Vnstock()

    # Lấy danh sách mã cổ phiếu niêm yết trên sàn HOSE
    hose_symbols = stock_api.stock(symbol='A32', source='VCI').listing.symbols_by_group('HOSE')
    
    # Tạo danh sách mã cổ phiếu từ kết quả Series
    symbols = hose_symbols.tolist()

    # Khởi tạo danh sách để lưu tất cả dữ liệu
    all_price_data = []

    # Lặp qua các năm để lấy và lưu dữ liệu
    for year in range(start_year, end_year + 1):
        print(f"Đang lấy dữ liệu cho năm {year}...")
        
        for symbol in symbols:
            try:
                # Khởi tạo đối tượng Vnstock cho mã cổ phiếu hiện tại
                stock = Vnstock().stock(symbol=symbol, source='VCI')
                
                # Lấy dữ liệu giá cổ phiếu theo năm
                price_data = stock.quote.history(start=f'{year}-01-01', end=f'{year}-12-31', interval='1D')
                
                # Thêm mã cổ phiếu vào dữ liệu
                price_data['symbol'] = symbol
                
                # Thêm dữ liệu vào danh sách
                all_price_data.append(price_data)
                
                print(f"Đã lấy dữ liệu cho mã cổ phiếu: {symbol}")
            except Exception as e:
                print(f"Lỗi khi lấy dữ liệu cho mã cổ phiếu {symbol}: {e}")
    
    # Kết hợp tất cả dữ liệu vào một DataFrame
    if all_price_data:
        all_price_data_df = pd.concat(all_price_data, ignore_index=True)
        
        # Lưu dữ liệu vào file CSV duy nhất
        all_price_data_df.to_csv('all_stock_data_2021_to_present.csv', index=False)
        print(f"Dữ liệu đã được lưu vào file all_stock_data_2021_to_present.csv")
    else:
        print("Không có dữ liệu nào được lưu.")

# Thực hiện việc lưu dữ liệu từ năm 2021 đến hiện tại
fetch_and_save_data(2021, 2024)